{#
/**
 * @file
 * Template implementation for the si_voyager theme hook.
 *
 * Available variables:
 * - si_voyager_id: (string) ID of the scan.
    * - no_thumbnail_url: (string) URL of the thumbnail.
 */
#}

{% if scene_image %}
    <img width="200" height="200" class="no_thumbnail" src="{{ scene_image }}" alt="3D Scene Image Placeholder" />
{% endif %}
<div data-3d="{{ si_voyager_id }}" id="voyager__wrapper-{{ si_voyager_id }}" class="voyager-explorer"></div>
