{#
/**
 * @file
 * Template implementation for the si_voyager theme hook.
 *
 * Available variables:
 * - si_voyager_id: (string) ID of the scan.
 * - scene_image: (string) URL of the scene image.
 * - attributes: (array) HTML attributes for the wrapper element.
 * - component_attributes: (array) HTML attributes for the Web Component.
 */
#}
{% if si_voyager_id %}
  <div class="si-voyager-explorer-wrapper">
    {% if scene_image %}
      <img width="200" height="200" class="no_thumbnail" src="{{ scene_image }}" alt="3D Scene Image Placeholder" />
    {% endif %}
    <div {{ attributes }}>
      <voyager-explorer{{ component_attributes }}></voyager-explorer>
    </div>
  </div>
{% endif %}
